website:
  bread-crumbs: false
  page-navigation: false
  sidebar:
    search: true
    header: I, Charlie, will be in Vietnam from Feb 4-Mar 25.  I will be working but expect emails at weird times.
            
    contents:
      - section: "<b>Fundamentals of Programming class</b>"
        contents: 
          - lessons/0-01-IntroductionAndSyllabus.qmd  
          - section: "Part 1: Basic Programming"
            contents: lessons/*1-[01]*.qmd  # need * at beginning or quarto will add a menu level 
          - section: "Part 2: Data Programming"
            contents: lessons/*2-[01]*.qmd  # need * at beginning or quarto will add a menu level

language:
  search-box-placeholder: Search All Lessons

project:
  render:
  - lessons/[0-9]*.qmd  # only render files whose names start with a number
  - lessons-new/*.qmd
  type: website
  output-dir: docs
  execute-dir: project  # set working directory to project folder
  # pre-render:
  # - powershell -ExecutionPolicy Bypass -Command "New-Item -ItemType Directory -Force assets\quarto | Out-Null; Copy-Item ..\..\projects\assets\quarto\qfc_styles.js assets\quarto\qfc_styles.js -Force"
# 
# resources:
#    - assets/quarto/qfc_styles.js

format:
  html:
    page-layout: full
    css: "https://qfcatmsu.github.io/assets/quarto/qfc_styles.css"
    toc: true
    toc-title: "<b>Lesson Content</b>"
    toc-location: left
    fig-align: left
    theme: default
    fontsize: 15px
    number-sections: true
    grid: 
      body-width: 1000px
    include-in-header:
      - text: |
          <link rel = "shortcut icon" href = "https://qfcatmsu.github.io/assets/images/qfc_icon.png" />
          <script>mod=true; // menuCollapse=true;</script>
          <!--script src="/assets/quarto/qfc_styles.js"></script-->
          <script src="https://qfcatmsu.github.io/assets/quarto/qfc_styles.js"></script>


editor: visual